@use '../../utils/mixins' as *;

.project-card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2.5rem;
  place-content: center;

  @include query(lg) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
