@font-face {
  font-family: 'Gibson';
  src: url('../assets/Font/Gibson/Gibson-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gibson';
  src: url('../assets/Font/Gibson/Gibson-SemiBold.ttf') format('ttf');
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: 'Gibson';
  src: url('../assets/Font/Gibson/Gibson-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 18px;
  font-family: 'Gibson';
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  background: var(--linear-gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
}

p {
  font-size: var(--font-size-text);
  color: var(--light-blue);
  font-weight: var(--font-weight-regular);
  text-align: center;
}
