.h2-style {
  display: grid;
  place-content: center;
  margin-bottom: 8.313rem;
}

.h2-style::after {
  z-index: -1;
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 62px;
  height: 5px;
  background: var(--linear-gradient-primary);
}

@media (min-width: 900px) {
  .h2-style {
    place-content: start;
  }

  .h2-style::after {
    left: 0;
    transform: translate(0, 0);
  }
}
