@use '../utils/variables' as *;
@use '../utils/mixins' as *;

// @font-face {
//   font-family: 'Gibson';
//   src: url('../../assets/Font/Gibson/Gibson.eot');
//   src: local('Gibson'), url('../../assets/Font/Gibson/Gibson.eot?#iefix') format('embedded-opentype'),
//     url('../../assets/Font/Gibson/Gibson.woff2') format('woff2'),
//     url('../../assets/Font/Gibson/Gibson.woff') format('woff'),
//     url('../../assets/Font/Gibson/Gibson.ttf') format('truetype');

//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gibson';
//   src: url('../../assets/Font/Gibson/Gibson-SemiBold.eot');
//   src: local('Gibson SemiBold'), local('Gibson-SemiBold'),
//     url('../../assets/Font/Gibson/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
//     url('../../assets/Font/Gibson/Gibson-SemiBold.woff2') format('woff2'),
//     url('../../assets/Font/Gibson/Gibson-SemiBold.woff') format('woff'),
//     url('../../assets/Font/Gibson/Gibson-SemiBold.ttf') format('truetype');
//   font-weight: semibold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gibson';
//   src: url('../assets/Font/Gibson/Gibson-Bold.ttf') format('ttf');
//   font-weight: bold;
//   font-style: normal;
// }

body {
  font-size: 16px;
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: $font-size-h1;
  font-weight: $font-weight-black;
}

h2 {
  font-size: $font-size-h2;
  color: $white;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-h3;
  color: $white;
  font-weight: $font-weight-semibold;
}

h4 {
  font-size: $font-size-h4;
  color: $white;
  font-weight: $font-weight-semibold;
}

h5 {
  font-size: $font-size-h5;
  color: $white;
  font-weight: $font-weight-regular;
  text-align: center;
}

p {
  font-size: $font-size-text;
  color: $light-blue;
  font-weight: $font-weight-regular;
  line-height: 1.7;
}

a {
  text-align: center;
}

.menu__link {
  font-size: $font-size-text;
}
.navbar__link {
  font-size: $font-size-navbar;
}

.button {
  font-weight: $font-weight-semibold;
}

.mask__icons-name {
  font-size: 1rem;
  color: $light-blue;
  font-weight: $font-weight-regular;
  line-height: 1.7;
}

.get-in-touch__text {
  font-weight: $font-weight-regular;
}

.get-in-touch__gradient {
  font-weight: $font-weight-bold;
}

.tooltip {
  font-size: $font-size-text;
  font-weight: $font-weight-semibold;
}

h2,
h3,
h4,
p {
  text-align: center;
  @include query(lg) {
    text-align: start;
  }
}
