@use '../utils/variables' as *;

* {
  margin: 0;
  outline: none;
}

:focus {
  outline: 2.5px solid $primary-color-1;
}

html {
  scroll-behavior: smooth;
}

body.using-mouse :focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

h1 {
  margin: 0;
}
