.hero {
  position: relative;
  min-height: 100vh;

  display: grid;
  place-content: center;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  background: var(--linear-gradient-hero), url(../../assets/background/hero-background-mobile.svg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 1.5rem var(--padding-mobile);
  transition: all 0.3s ease-in-out;
}

.header.scroll-active {
  background-color: var(--very-dark-blue-background-opacity);
}

.navbar-principal {
  margin: auto;

  max-width: var(--max-width-desktop);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  grid-area: logo;
  z-index: 4;
  display: grid;
  place-content: center;
  padding: var(--tab-padding);
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.toggle {
  grid-area: navbar;
  padding: var(--tab-padding);
  cursor: pointer;
  z-index: 4;
  position: relative;
  width: 3rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--very-dark-blue-background-section);
}

.toggle__line {
  position: absolute;
  background-color: var(--white);
  height: 2px;
  left: 0.9rem;
  right: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.toggle__line:nth-child(1) {
  top: 0.9rem;
}

.toggle__line:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.toggle__line:nth-child(3) {
  bottom: 0.9rem;
}

.toggle.open .toggle__line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  background-color: var(--primary-color-1);
}

.toggle.open .toggle__line:nth-child(2) {
  opacity: 0;
}

.toggle.open .toggle__line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
  background-color: var(--primary-color-1);
}

.menu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--dark-blue-background-opacity);
  backdrop-filter: blur(10px);
  clip-path: circle(0% at 100% 0);
  transition: all 0.4s ease-in-out;

  display: grid;
  place-content: center;
}

.menu.open {
  clip-path: circle(141.2% at 100% 0);
  transition: all 0.4s ease-in-out;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;
}

.menu__list {
  display: grid;
  place-content: center;
  gap: 2rem;
}

.menu__link {
  color: var(--white);
  padding: 1rem 2.063rem;
  border-radius: var(--border-radius);
  text-align: center;
}

.menu__link::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -2.188rem;
  width: 15.8rem;
  height: 1.5px;
  background-color: #3b4a64;
  border-radius: var(--border-radius);
}

.menu__link:nth-last-child(1)::after {
  display: none;
}

.navbar {
  display: none;
  position: relative;
  border-radius: 8px;

  justify-content: center;
  align-items: center;
}

.navbar__link {
  position: relative;
  color: var(--white);
  padding: 1rem 2.063rem;
  border: 3.5px solid transparent;
  border-radius: var(--border-radius);
  z-index: 1;
}

.marker {
  display: none;
  position: absolute;
  width: 0;
  height: 3.5px;
  left: 0;
  bottom: 0;
  background: var(--primary-color-1);
  border-radius: var(--border-radius);
  transition: all 0.35s ease;
}

.marker.using-mouse {
  display: block;
}

.welcome {
  margin: auto;
  max-width: 35.563rem;
  display: grid;
  gap: 1.188rem;
  margin: auto;
  padding: 8.75rem var(--padding-mobile);
  max-width: var(--max-width-desktop);
}

.welcome__title {
  background: var(--linear-gradient-primary) repeat 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome__text {
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  .hero::before {
    background: var(--linear-gradient-hero), url(../../assets/background/hero-background-desktop.svg) no-repeat center;
    background-size: cover;
  }

  .welcome__button {
    justify-self: center;
  }

  .menu,
  .toggle {
    display: none;
  }

  .navbar {
    display: flex;
  }
}
