.hero {
  position: relative;
  min-height: 100vh;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  background: var(--linear-gradient-hero), url(../assets/background/hero-background-mobile.svg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header {
  max-width: var(--max-width-desktop);
  padding: 3.125rem var(--padding-mobile);
  margin: auto;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 3;
  display: grid;
  place-content: center;
  padding: var(--tab-padding);
  border: 2px solid transparent;
  border-radius: 0.5rem;
}

.logo:focus {
  outline: 2px solid var(--primary-color-1);
}

.navbar {
  display: none;
}

.toggle {
  padding: var(--tab-padding);
  cursor: pointer;
  z-index: 3;
  position: relative;
  width: 3rem;
  height: 2.8rem;
  border-radius: 50%;
}

.toggle:focus {
  outline: 2px solid var(--primary-color-1);
}

.toggle__line {
  position: absolute;
  background-color: var(--white);
  height: 2px;
  left: 0.9rem;
  right: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.toggle__line:nth-child(1) {
  top: 0.9rem;
}

.toggle__line:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.toggle__line:nth-child(3) {
  bottom: 0.9rem;
}

.toggle.open .toggle__line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
  background-color: var(--primary-color-1);
}

.toggle.open .toggle__line:nth-child(2) {
  opacity: 0;
}

.toggle.open .toggle__line:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
  background-color: var(--primary-color-1);
}

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--dark-blue-background-opacity);
  backdrop-filter: blur(10px);
  clip-path: circle(0% at 100% 0);
  transition: all 0.4s ease-in-out;

  display: grid;
  place-content: center start;
}

.menu.open {
  display: block;
  clip-path: circle(141.2% at 100% 0);
  transition: all 0.4s ease-in-out;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center start;
}

.menu__list {
  background-color: red;
  padding: 0 5vw;
  width: 100%;
}

.menu__item {
  display: flex;
}

.menu__link {
  color: white;
  font-weight: semibold;
  padding: 1rem;
}

.welcome {
  display: grid;
  place-content: center;
  height: calc(100vh - 131px);
}

.welcome__container {
  display: flex;
  flex-direction: column;
  gap: 1.188rem;
}

.welcome__title {
  background: var(--linear-gradient-primary) repeat 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-simple-animation-rev 5s ease infinite;
}

.welcome__text {
  margin-bottom: 2.5rem;
}
