.layout {
  background-color: var(--dark-blue-background-body-card);
}

.layout.overflow-hidden {
  overflow: hidden;
}

.about__content {
  max-width: var(--max-width-desktop);
  margin: auto;
  padding: 5rem var(--padding-mobile);
}
