@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.subtitle-style {
  display: grid;
  place-content: center;
  margin-bottom: 8.313rem;

  @include query(lg) {
    place-content: start;
  }

  &::after {
    z-index: 0;
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 62px;
    height: 5px;
    background: $linear-gradient-primary;

    @include query(lg) {
      left: 0;
      transform: translate(0, 0);
    }
  }
}

.text-gradient {
  background: $linear-gradient-primary repeat 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: $font-weight-bold;
}
