$primary-color-1: rgb(94, 231, 185);
$primary-color-2: rgb(169, 250, 136);
$light-blue: rgb(231, 239, 255);
$white: rgb(255, 255, 255);

$soft-blue: rgb(27, 64, 94);

$dark-blue-background-body-card: rgb(33, 40, 54);
$dark-blue-background-opacity: rgba(33, 40, 54, 0.8);

$very-dark-blue-background-section: rgb(26, 32, 44);
$very-dark-blue-background-opacity: rgba(26, 32, 44, 0.9);

$light-dark: rgba(41, 51, 69, 1);

$dark-shadow: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));

$linear-gradient-primary: linear-gradient(90deg, $primary-color-1 16.17%, $primary-color-2 84.51%);
$linear-gradient-hero: linear-gradient(360deg, #212836 0%, rgba(33, 40, 54, 0) 100%);

$font-size-h1: clamp(2.813rem, 5vw + 1rem, 5rem);
$font-size-h2: clamp(2.188rem, 5vw + 1rem, 3.125rem);
$font-size-h3: clamp(1.5rem, 5vw + 1rem, 1.875rem);
$font-size-h4: clamp(1.125rem, 1.5vw + 1rem, 1.5rem);
$font-size-h5: 1.5rem;

$font-size-text: clamp(1rem, 0.3vw + 1rem, 1.5rem);

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$tab-padding: 0.5rem;

$border-radius: 0.625rem;
$padding-mobile: 5vw;
$max-width-desktop: 1240px;

//Bongo cat colors
$green: #a5ea9b;
$pink: #ff61d8;
$blue: #569cfa;
$orange: #ffcc81;
$cyan: #7ed1e2;

$breakpoints: (
  // 400px
  xs: 25em,
  // 544px
  ms: 34em,
  // 768px
  md: 48em,
  // 960px
  lg: 60em,
  // 1280px
  xl: 80em,
  // 1440px
  xxl: 90em
);
