.button {
  cursor: pointer;
  /* background: linear-gradient(var(--dark-blue-background-body-card), var(--dark-blue-background-body-card)) padding-box, var(--linear-gradient-primary) border-box;
  padding: 1rem;
  border: 2px solid transparent; */
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 3s, --myColor2 3s;
  border-radius: 0.625rem;
  color: var(--white);
  font-weight: var(--font-weight-semibold);
  backdrop-filter: blur(0.5rem);
}

.button:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) padding-box, var(--linear-gradient-primary) border-box;
  color: var(--dark-blue-background-body-card);
}
