@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.navbar-principal {
  margin: auto;

  max-width: $max-width-desktop;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: none;
  position: relative;
  border-radius: 8px;

  @include query(lg) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    position: relative;
    color: $white;
    padding: 1rem 2.063rem;
    border: 3.5px solid transparent;
    border-radius: $border-radius;
    z-index: 1;
  }
}

.marker {
  display: none;
  position: absolute;
  width: 0;
  height: 3.5px;
  left: 0;
  bottom: 0;
  background: $primary-color-1;
  border-radius: $border-radius;
  transition: all 0.35s ease;

  &.using-mouse {
    display: block;
  }
}
