@use '../utils/variables' as *;

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: $primary-color-1;
  color: $white;
  padding: 0.625rem 1.125rem;
  border-radius: 1.563rem;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &::before {
    position: absolute;
    content: '';
    height: 0.95rem;
    width: 0.95rem;
    background: $primary-color-1;
    left: 50%;
    bottom: -0.375rem;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
